.ticket-form__label {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
}

.ticket-form__label--error {
    font-size: 12px;
    color: red;
    margin-top: 0.25rem;
}