.navbar{
    background-color: lightgray;
    width: 100%;
    position: absolute;
    top: 0;
    height: 50px;
    display: flex;
    align-items: center ;
}

.navbar__container{
    display: flex;
    justify-content: end;
    gap: 16px; 
}   

.navbar__avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}