.ticket-board {
    height: 100%;
    width: 100%;
    border: 1px solid rgb(233, 230, 230);
    flex-grow: 1;
    box-sizing: border-box;
}

.ticket-board__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 7fr 4fr 5fr 3fr 3fr;
    grid-template-areas: "checkbox urgency text requester requester-update group assignee";
    grid-template-rows: auto;
    gap: 8px;
    
}


.ticket-board__urgency {
    grid-area: urgency;
    text-align: center;
}

.ticket-board__text {
    grid-area: text;
}

.ticket-board__requester {
    grid-area: requester;
}

.ticket-board__requester-update {
    grid-area: requester-update;
}

.ticket-board__group {
    grid-area: group;
}

.ticket-board__assignee {
    grid-area: assignee;
    text-align: center;
}


.ticket-board__card-styling {
    padding: 8px 0;
    margin: 0 auto;
}

.border-bottom {
    border-bottom: 1px solid rgb(233, 230, 230);
}