.statsbar {
    background-color: rgb(247, 247, 247);
    padding: 16px;
    box-sizing: border-box;
}

.statsbar__container {
    display: flex;
    justify-content: space-between;
}

.statsbar__cards {
    display: flex;
    gap: 24px;
}


.stats-card__content {
    margin-top: 8px;
    display: flex;
    border-radius: 8px;
    background-color: white;
    text-align: center;
    border-radius: 8px;
    border: 1px solid rgb(233, 230, 230);
}

.stats-card__content-square {
    flex-basis: 0;
    flex-grow: 1;
    padding: 8px 32px;
    min-width: 50px;
    min-height: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border-left {
    border-left: 1px solid rgb(233, 230, 230)5
}

.statsbar__buttons {
    display: flex;
    align-items: end;
    gap: 25px;
}

.statsbar__help {
    width: 20px;
    height: 20px;
    line-height: 20px;
    z-index: 1;
    text-align: center;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-top: 30px;
    padding: 10px;
    color: #fff;
    background-color: orange;
    transition: all 0.3s ease-in-out;
  }
  
  .statsbar__help:hover {
    background-color: #f60;
    border-color: #f60;
  }

  .statsbar__help:hover::before {
    content: attr(title);
    /* display: block; */
    position: absolute;
    top: 60px;
    width: 150px;
    padding: 10px;
    background-color:  orange;
    color: white;
    font-size: 0.8rem;
    border-radius: 5px;
    text-align: center;
    z-index: 2;
  }

@media screen and (max-width: 1024px) {
    .statsbar__buttons {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
}


@media screen and (max-width: 769px) {
    .statsbar__cards {
        display: block;
    }
    
  }

