.sidebar {
    height: 100vh;
    position: fixed;
    background-color: #57a5b8;
    border-right: 1px solid #3c90a5;
    top: 0;
    z-index: 1;
}

.sidebar__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.sidebar__links-item {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    /* styling */
    padding: 16px;
    color: #e9e9e9;
    font-size: 1.5rem;
}

.sidebar__links-item:hover {
    color: rgb(119, 119, 119);
    background-color: #91ccdb;
}

.sidebar__logo {
    /* background-color: #95cddb ; */
    color: #4d7298;
    text-align: center;
    height: 64px;
}

.logo {
    box-sizing: border-box;
    height: 100%;
    padding: 4px;
    /* animation: rotation 25s linear infinite; */
    border-radius: 50%;
    opacity: 1;
}
/* .logo:hover {
    opacity: 1;
} */


@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}