.card {
    background-color: white;
    border: 1px solid rgb(233, 230, 230);
    margin: 2px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}


.card__section {
    display: flex;

    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.card__title {
    margin: 0;
    padding: 10px;
}

.user-image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.card__description {
    padding: 10px;
    font-size: 14px;
}

.card__time-estimate {
    font-size: 12px;
    opacity: 0.6;
    margin: 10px 0;
}

.card__status {
    border-radius: 2px;
    width: 20px;
    padding: 5px;
}