.ticket-container {
    min-height: 300px;
    min-width: 200px;
    padding: 8px;
    background-color: #ecedee;
    border: 1px solid #E3E4E6;
    border-radius: 6px;
}

.column-container{
    flex-grow: 1;
    flex-basis: 0;
}

.column-title {
    margin-left: 8px;
    font-weight: 500;
    margin-bottom: 6px;
}