.ticket-container {
    min-height: 300px;
    min-width: 200px;
    background-color: red;
    padding: 20px;
    background-color: white;
    border: 1px solid #E3E4E6;
    border-radius: 6px;
}

.column-container{
    flex-grow: 1;
    flex-basis: 0;
}