.columns-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    margin: 0 16px;
}

.kanban-container {
    background-color: rgb(247, 247, 247);
    padding: 16px;
    overflow: scroll;
    height: 100vh
}