.form-background {
    background-color: rgb(247, 247, 247) ;
    min-height: calc(100vh - 64px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ticket-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    background-color: white;
    padding: 40px 24px;
    border-radius: 10px;
    flex-wrap:wrap;
    border: 1px solid rgb(233, 230, 230);
    gap: 8px;
    font-family: 'Barlow', sans-serif;
}

.ticket-form__title{
    margin: 8px 0;
    font-weight: 400;
    font-size: 28px;
}

.ticket-form__input {
    width: 100%;
    padding: 4px;
    border-radius: 4px;
}

.ticket-form__submit-btn {
    margin-top: 8px;
}
