.form-categories {
    display: flex;
    gap: 10px;
    margin: 16px 0;
    flex-wrap: wrap;
}

.form-categories__btn {
    flex-grow: 1;
}


.form-categories__btn--selected {
    color: white;
    background-color: red;
}