.urgency-container {
    display: flex;
    width: 100% ;
    justify-content: space-evenly;
}

.urgency__btn{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid transparent;
}

.urgency__sign {
    font-size: 32px;
}


.urgency__btn:hover{
   border-bottom: 1px solid rgb(199, 197, 197);
}