.login-card {
    display: flex;
    align-items: start;
    justify-content: space-between;
    min-height: 100vh;
    box-sizing: border-box;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/bloblarge.png);
    width: 100vw;
}

.login-card__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 40px;
    min-width: 250px;
}

.login-card__header-title {
    font-weight: 700;
    font-size: 64px;
    color: rgb(61, 61, 61);
}

.login-card__img {
    width: 70px;
    height: 70px;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader-container:first-child {
    transform: scale(2.5);
}