.login-card {
    display: flex;
    align-items: start;
    justify-content: space-between ;
    min-height: 100vh;
    box-sizing: border-box;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-image: url(https://img.freepik.com/free-vector/natural-simple-memphis-design-presentation-vector_53876-136104.jpg?w=1480&t=st=1680005756~exp=1680006356~hmac=0ccf7d078b2839ae4f43375fdf5263c3a4ae38460f01344076097d7a04a97f36); */
    background-image: url(../../../public/bloblarge.png);
    width: 100vw;
}

.login-card__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: rgba(255,255,255,0.8); */
    /* background-image: url(https://static.tildacdn.com/tild6161-6131-4466-b837-303839336161/blob-shape-7.svg); */
    padding: 100px 40px;
    min-width: 250px;
}

.login-card__header-title {
    font-weight: 700;
    font-size: 64px;
    color: rgb(61, 61, 61);
}

.login-card__img{
    width: 70px;
    height: 70px;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}