.navbar {
    padding: 0 0 0 64px;
    position: fixed;
    width: 100%;
    top: 0;
    height: 64px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(233, 230, 230);
    box-sizing: border-box;
    background-color: white;
    z-index: 1;
}

.navbar__container {
    display: flex;
<<<<<<< HEAD
    justify-content: end;
    gap: 16px;
=======
    justify-content: space-between;
>>>>>>> 027473ac3d1d23a4dd2f9678620edd51d00d76b7
}

.navbar__avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
<<<<<<< HEAD
}
=======
}

.navbar__links{
    display: flex;
    justify-content: end;
    gap: 16px;
}

.navbar__teams{
    border-radius: 25px;
    text-align: center;
    padding:0px 10px;
    min-width: 100px;
    font-weight: 500;
}
>>>>>>> 027473ac3d1d23a4dd2f9678620edd51d00d76b7
