
.main {
    padding: 0 0 0 64px;
    box-sizing: border-box;
    /* min-height: 88vh; */
    display: flex;
    flex-direction: column;
}

.btn {
    border-radius: 25px;
    padding: 6px 16px;
    background-color: transparent;
}

.btn--blue {
    color: white;
    border: none;
    background-color: #57a5b8 ;
}

.btn--blue:hover {
    background-color: transparent;
    color: #407a88;
    font-weight: 500;
    border: 1px solid rgb(150, 149, 149);
}

.btn--bordered {
    border: 1px solid rgb(213, 210, 210);
}

.btn:hover {
    color: #407a88;
    font-weight: 500;
}

.btn--bordered:hover{
    border: 1px solid rgb(150, 149, 149);
}

.fw-300 {
    font-weight: 300;
}

