#root {
    min-height: calc(100vh - 64px);
}

.app {
    min-height: calc(100vh - 64px);
}


.main {
    padding: 14px 0 0 64px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 64px);
}

.btn {
    border-radius: 25px;
    padding: 6px 16px;
    background-color: transparent;
    font-family: 'Barlow', sans-serif;
}

.btn:hover {
    color: #407a88;
    font-weight: 500;
}

.btn--blue {
    color: white;
    border: none;
    background-color: #57a5b8;
    border: 1px solid #57a5b8 ;

}

.btn--blue:hover {
    background-color: transparent;
    color: #407a88;
    font-weight: 500;
    border: 1px solid #57a5b8;
}
.btn--green {
    color: white;
    border: none;
    background-color:#51b53f;
    border: 1px solid #51b53f ;
}
.btn--green:hover {
    background-color: transparent;
    color: #51b53f;
    font-weight: 500;
    border: 1px solid #51b53f;
}

.btn--red {
    color: white;
    border: none;
    background-color:#565656;
    border: 1px solid #565656 ;
}
.btn--red:hover {
    background-color: transparent;
    color: #565656 !important;
    font-weight: 500;
    border: 1px solid #565656;
}

.btn--bordered {
    color: #407a88;
    border: 1px solid rgb(213, 210, 210);
}

.btn--large {
    padding: 10px 40px;
    font-size: 24px;
    font-weight: 400;
}

.btn:hover {
    color: #407a88;
    font-weight: 500;
}
.btn--bordered:hover {
    border: 1px solid #407a88;;
}

.fw-300 {
    font-weight: 300;
}

.w-100 {
    width: 100%;
}


.color-yellow {
    color: #F1D601;
}

.color-orange {
    color: #FF9E19;
}

.color-green {
    color: #51b53f;
}

.color-red {
    color: #a30000;
}

.bg--blue{
    background-color: #58a4b0;
    color: white;
}

.bg--lightgray{
    background-color: #90A9B7;
    color: white;
}

.bg--caribbean {
    background-color: #114B5F;
    color: white;
}

.bg--brightyellow{
    background-color: #EFA00B;
    color: white;
}

.bg--lightgreen{
    background-color: #43AA8B;
    color: white;
}
.bg--cambridge{
    background-color: #80B192;
    color: white;
}

.bg--red {
    background-color: #a30000;
    color: white;
}

.bg--firebrick{
    background-color: #ab3428;
    color: white;
}

.bg--grey {
    background-color: rgb(235, 235, 235);
}

.bg--orange {
    background-color: rgb(255, 158, 25);
    color: white;
}

.bg--green {
    background-color: #51b53f;
    color: white;
}

.bg--black {
    background-color: rgb(36, 36, 36);
    color: white;
}

.grey--border {
    border: 1px solid rgb(233, 230, 230);
}

.align-center {
    text-align: center;
}

.base-font{
    font-family: 'Barlow', sans-serif;;
}