.popup-card {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    min-height: 100px;
    /* Need a specific value to work */
    padding: 16px;
    background-color: white;
    border: 1px solid rgb(233, 230, 230);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.tag-icon {
    padding: 4px 8px;
    border-radius: 4px;
    text-align: center;
    object-position: center;
    margin-right: 8px;
    font-size: 12px;
    font-weight: 600;
}

.popup-card__title {
    font-weight: 500;
}

.popup-card__description {
    font-weight: 300;
}

.popup-card__categories{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    gap: 8px;

}

.popup-card__tags {
    display: flex;
    justify-content: space-between;
}

.ticket-review__btns {
    display: flex;
    gap: 4px;
    justify-content: center;
}

.ticket-review__btn{
    border: none;
    background: transparent;
    border-radius: 50%;
    padding: none;
}

.ticket-review__btn--large{
    display: flex;  
    align-items: center;
    gap: 8px;
}


.ticket-review__btn--icon{
    font-size: 18px;
}
.ticket-review__btn--icon:hover{
    opacity: 0.5;
}